*.iml
.gradle
.idea
/app/google-services.json
google-services.json
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1747383181433.log
/.kotlin/errors/errors-1747392127968.log
