<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <queries>
        <!-- Навигационные приложения -->
        <package android:name="com.google.android.apps.maps" />
        <package android:name="ru.yandex.yandexnavi" />
        <package android:name="ru.yandex.yandexmaps" />
        <package android:name="app.organicmaps" />
        <package android:name="ru.dublgis.dgismobile" />
        <package android:name="com.mapswithme.maps.pro" />
        <package android:name="net.osmand" />
        <package android:name="com.huawei.maps.app" />

        <!-- Приложения такси -->
        <package android:name="ru.yandex.taxi" /> <!-- Яндекс Go -->
        <package android:name="com.ubercab" />     <!-- Uber -->
        <package android:name="ee.mtakso.client" /> <!-- Bolt -->
        <package android:name="com.didiglobal.passenger" /> <!-- DiDi -->
        <package android:name="com.taxsee.taxsee" /> <!-- Maxim -->
        <package android:name="com.gett.android" /> <!-- Gett -->
        <package android:name="ru.citymobil.android" /> <!-- Ситимобил -->
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeOrbit"
        tools:targetApi="31">
        <activity
            android:name=".presentation.server.audio.AudioStarterActivity"
            android:theme="@style/Theme.SafeOrbit.Transparent"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showOnLockScreen="true" />
        <activity
            android:name=".presentation.client.QrScanActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.server.audio.AudioLaunchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.server.audio.SilentAudioLaunchActivity"
            android:theme="@style/TransparentActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:taskAffinity=""
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.security.PinGateActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.security.PinVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.server.ServerSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.client.ChangeIconActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.client.ServerDetailsActivity"
            android:exported="false" />

        <service
            android:name=".presentation.server.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".presentation.server.audio.AudioBroadcastService"
            android:exported="false"
            android:foregroundServiceType="microphone" /> <!-- <service -->
        <!-- android:name=".presentation.server.audio.AudioBroadcastServiceLiveKit" -->
        <!-- android:exported="false" -->
        <!-- android:foregroundServiceType="microphone" /> -->
        <service
            android:name=".presentation.client.audio.AudioStreamPlayerService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" /> <!-- <service -->
        <!-- android:name=".presentation.client.audio.AudioStreamPlayerServiceLiveKit" -->
        <!-- android:exported="false" -->
        <!-- android:foregroundServiceType="mediaPlayback" /> -->
        <activity
            android:name=".presentation.server.ServerMainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.client.ClientMainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.role.RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="YANDEX_MAPKIT_API_KEY"
            android:value="${YANDEX_MAPKIT_API_KEY}" />
        <meta-data
            android:name="AGORA_APP_ID"
            android:value="${AGORA_APP_ID}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".presentation.server.ActivityReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.location.ACTIVITY_TRANSITION_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".device.MyDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".presentation.server.BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>